.container {
  margin: 20px auto;
  max-width: 85%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul#navigation {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

ul#navigation li {
  list-style-type: none;
  padding: 20px 10px;
}

ul#navigation li a.active {
  color: green;
  font-weight: bold;
}

footer {
  text-align: center;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
}